<%= form_with(model: @position) do |f|%>
  <div>
    <%= f.label :person %>
      <%if @position.person%>
      <%= f.text_field :person, list: "people_autocomplete", value: @position.person.name%><br><br>
      <%else%>
      <%= f.text_field :person, list: "people_autocomplete", value: ''%><br><br>
      <%end%>
      <datalist id="people_autocomplete">
      <%= @people.each do |person|%>
        <option value="<%=person.name%>">
      <%end%>
  </div>
  <div>
    <%= f.label :employer %>
      <%if @position.employer%>
      <%= f.text_field :employer, list: "employers_autocomplete", value: @position.employer.name%><br><br>
      <%else%>
      <%= f.text_field :employer, list: "employers_autocomplete", value: ''%><br><br>
      <%end%>
      <datalist id="employers_autocomplete">
      <%= @employers.each do |employer|%>
        <option value="<%=employer.name%>">
      <%end%>
  </div>
  <div>
    <%= f.label :city %>
      <%if @position.city%>
      <%= f.text_field :city, list: "cities_autocomplete", value: @position.city.name %><br><br>
      <%else%>
      <%= f.text_field :city, list: "cities_autocomplete", value: '' %><br><br>
      <%end%>
      <datalist id="cities_autocomplete">
      <%= @cities.each do |city|%>
        <option value="<%=city.name%>">
      <%end%>
  </div>
  <div>
  Position <%= f.label :title %>
  <%= f.text_field :title %><br><br>
  </div>
  <div>
  Position <%= f.label :start_date %>
  <%= f.date_select :start_date %><br><br>
  </div>
  <div>
  Position <%= f.label :finish_date %>
  <%= f.date_select :finish_date %><br><br>
  </div>
  <div>
  <%= f.submit %>
  </div>
<%end%>