<h1>Positions list:</h1>

  <ul>
    <% @positions.each do |position|%>
      <li>
        <strong><%= position.title%></strong>
      </li>
        <ul>
          <li>
            <%= link_to position.person.name, person_path(position.person)%>
          </li>
          <li>
            <%= link_to position.employer.name, employer_path(position.employer)%>
          </li>
          <li>
            <%= position.description%>
          </li>
          <li>
            From: <%= position.start_date%>, until: <%=position.finish_date%>
          </li>
        </ul>
    <%end%>
  </ul>