<h1 class="c">Positions Index</h1>
<hr>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Held By</th>
      <th scope="col">Company</th>
      <th scope="col">City</th>
      <th scope="col">From</th>
      <th scope="col">Until</th>
    </tr>
  </thead>
  <tbody>
  <% @positions.each do |p|%>
    <tr>
      <td><%= link_to p.title, position_path(p)%></td>
      <td><%= link_to p.person.name, person_path(p.person) %></td>
      <td><%= link_to p.employer.name, employer_path(p.employer) %></td>
      <td><%= link_to p.city.name, city_path(p.city) %></td>
      <td><%=p.start_date.strftime('%b %Y')%></td>
      <td><%=p.finish_date >= Date.today ? "Current" : p.finish_date.strftime('%b %Y')%></td>
    </tr>
  <%end%>
  </tbody>
</table>