<h1><%=@position.title%></h1>

  <ul>
    <li>
      <%= @position.person.name%>
    </li>
    <li>
      <%= @position.city.name%>
    </li>
    <li>
      <%= @position.employer.name%>
    <li>
    </li>
    <%= @position.description%>
    </li>
    <li>
      <%= @position.start_date%>
    </li>
    <li>
      <%= @position.finish_date%>
    </li>
  </ul>

<%=form_tag("/positions/#{@position.id}/edit", method: "get") do |f| %>
<%=submit_tag "Edit"%>
<%end%>