<h1><%=@position.title%></h1>

  <ul>
    <li>
      <%= position.person.name%>
    </li>
    <li>
      <%= position.city.name%>
    </li>
    <li>
      <%= position.employer.name%>
    <li>
    </li>
    <%= position.description%>
    </li>
    <li>
      <%= position.startdate%>
    </li>
    <li>
      <%= position.finishdate%>
    </li>
  </ul>