<h1><%=@position.title%></h1>

  <ul>
    <li>
      Position Held By: <%= link_to @position.person.name, person_path(@position.person)%>
    </li>
    <li>
      Location: <%= link_to @position.city.name, city_path(@position.city)%>
    </li>
    <li>
      Employer: <%= link_to @position.employer.name, employer_path(@position.employer)%>
    <li>
      Description: <%= @position.description%>
    </li>
    <li>
      From: <%= @position.start_date.strftime('%b %Y')%>, <%= @position.finish_date >= Date.today ? "Current Position" : "Until: "+@position.finish_date.strftime('%b %Y')%>
    </li>
    <li>
      <%= @position.duration %>
    </li>
  </ul>

<%=form_tag("/positions/#{@position.id}/edit", method: "get") do |f| %>
<a class="indent"><button class="btn btn-primary" type="submit">Edit Position</button></a>
<%end%>
<%=form_tag("/positions/#{@position.id}", method: "delete") do |f| %>
  <a><button class="btn btn-primary" type="submit">Delete Position</button></a>
<%end%>