<h1><%=@position.title%></h1>

  <ul>
    <li>
      Position Held By: <%= link_to @position.person.name, person_path(@position.person)%>
    </li>
    <li>
      Location: <%= link_to @position.city.name, city_path(@position.city)%>
    </li>
    <li>
      Employer: <%= link_to @position.employer.name, employer_path(@position.employer)%>
    <li>
      Description: <%= @position.description%>
    </li>
    <li>
      From: <%= @position.start_date.strftime('%b %Y')%>, Until: <%= @position.finish_date.strftime('%b %Y')%>
    </li>

  </ul>

<%=form_tag("/positions/#{@position.id}/edit", method: "get") do |f| %>
<%=submit_tag "Edit"%>
<%end%>
<%=form_tag("/positions/#{@position.id}", method: "delete") do |f| %>
  <%=submit_tag "Delete"%>
<%end%>