<h1><%=@position.title%></h1>

  <ul>
    <li>
      <%= link_to @position.person.name, person_path(@position.person)%>
    </li>
    <li>
      <%= link_to @position.city.name, city_path(@position.city)%>
    </li>
    <li>
      <%= link_to @position.employer.name, employer_path(@position.employer)%>
    </li>
    <li>
    <%= @position.description%>
    </li>
    <li>
      <%= @position.start_date%>
    </li>
    <li>
      <%= @position.finish_date%>
    </li>
    <li>
      <%= @position.duration %>
    </li>
  </ul>

<%=form_tag("/positions/#{@position.id}/edit", method: "get") do |f| %>
<%=submit_tag "Edit"%>
<%end%>
<%=form_tag("/positions/#{@position.id}", method: "delete") do |f| %>
  <%=submit_tag "Delete"%>
<%end%>