<h1><%=@person.name%></h1>
<%= image_tag @person.avatar_url, height: "200" %>

  <ul>
    <li>
      Date of Birth: <%= @person.birthday.strftime('%B %d, %Y')%>
    </li>
  </ul>

  <h3>Personal Timeline:</h3>
 <table>
    <tr>
      <th>Position</th><th>Employer</th><th>City</th><th>Arrival Date</th><th>Departure Date</th>
    </tr>
  <tbody>
    <% @person.sorted_positions.each do |p| %>
    <tr>
      <td class="left"><%=p.title%></td><td><%=p.employer.name%></td><td><%=p.city.name%></td><td><%= p.start_date.strftime('%B %Y') %></td><td><%= p.finish_date.strftime('%B %Y') %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<h3>Parallel lives:</h3>
<ul><li>These people have lived in the same cities as <%=@person.name%> at the same times:</li></ul>
 <table>
    <tr>
      <th>Counterpart</th><th>City</th><th>Overlap beginning</th><th>Overlap end</th>
    </tr>
  <tbody>
    <% @person.parallel_positions.each do |pp| %>
    <tr>
      <td class="left"><%=pp[0].person.name%></td><td><%=pp[0].city.name%></td><td><%= pp[1].strftime('%B %Y') %></td><td><%= pp[2].strftime('%B %Y') %></td>
    </tr>
    <%end%>
  </tbody>
</table>
<br><br>

<%=form_tag("/people/#{@person.id}/edit", method: "get") do |f| %>
  <%=submit_tag "Edit"%>
<%end%>
<%=form_tag("/people/#{@person.id}", method: "delete") do |f| %>
  <%=submit_tag "Delete"%>
<%end%>