<h1><%=@person.name%></h1>

  <ul>
    <li>
      Date of Birth: <%= @person.birthday.strftime('%B %d, %Y')%>
    </li>
  </ul>

  <h3>Personal Timeline:</h3>
  <ul>
    <% @person.positions.each do |p| %>
      <li>
        <%= p.title %> at <%= p.employer.name %>
      </li>
        <ul>
          <li>
            <%= p.city.name %>, <%= p.city.country %>
          </li>
          <li>
            <%= p.start_date.strftime('%B %Y') %> - <%= p.finish_date.strftime('%B %Y') %>
          </li>
          <br>
        </ul>
      <%end%>
  </ul>













<%=form_tag("/people/#{@person.id}/delete", method: "get") do |f| %>
  <%=submit_tag "Edit"%>
<%end%>
<%=form_tag("/people/#{@person.id}", method: "delete") do |f| %>
  <%=submit_tag "Delete"%>
<%end%>