<%= form_with(model: @event) do |f|%>
  <div>
          <%= f.label :visitor %>
      <%if @event.visitor%>
      <%= f.text_field :visitor, list: "people_autocomplete", value: @event.visitor.name%><br><br>
      <%else%>
      <%= f.text_field :visitor, list: "people_autocomplete", value: ''%><br><br>
      <%end%>          <datalist id="people_autocomplete">
            <% @people.each do |person|%>
            <option value="<%=person.name%>">
          <%end%>
  </div>
  <div>
    Event <%= f.label :title %>
    <%= f.text_field :title %><br><br>
  </div>
   <div>
    Event <%= f.label :description %>
    <%= f.text_area :description %><br><br>
  </div> 
   <div>
        <%= f.label :destination %>
      <%if @event.destination%>
      <%= f.text_field :destination, list: "cities_autocomplete", value: @event.destination.name %><br><br>
      <%else%>
      <%= f.text_field :destination, list: "cities_autocomplete", value: '' %><br><br>
      <%end%>          <datalist id="cities_autocomplete">
          <% @cities.each do |city|%>
            <option value="<%=city.name%>">
          <%end%>
  </div>

  <div>
  <%= f.label :start_date %>
  <%= f.date_select :start_date, :start_year => 1940 %><br><br>
  </div>
  <div>
  <%= f.label :finish_date %>
  <%= f.date_select :finish_date, :start_year => 1940 %><br><br>
  </div>
  <div>
  <%= f.submit %>
  </div>
<%end%>