<h1><%=@event.title%></h1>

  <ul>
    <li>
      <%= link_to @event.visitor.name, person_path(@event.visitor)%>
    </li>
    <li>
      <%= link_to @event.destination.name, city_path(@event.destination)%>
    </li>
    <li>
    <%= @event.description%>
    </li>
    <li>
      <%= @event.start_date.strftime('%B %d, %Y')%> - <%= @event.finish_date.strftime('%B %d, %Y')%>
    </li>
  </ul>

<%=form_tag("/events/#{@event.id}/edit", method: "get") do |f| %>
<a class="indent"><button class="btn btn-primary" type="submit">Edit Event</button></a>
<%end%>
<%=form_tag("/events/#{@event.id}", method: "delete") do |f| %>
  <a><button class="btn btn-primary" type="submit">Delete Event</button></a>
<%end%>