<h1><%=@event.title%></h1>

  <ul>
    <li>
      <%= link_to @event.visitor.name, person_path(@event.visitor)%>
    </li>
    <li>
      <%= link_to @event.destination.name, city_path(@event.destination)%>
    </li>
    </li>
    <%= @event.description%>
    </li>
    <li>
      <%= @event.start_date.strftime('%B %d, %Y')%>
    </li>
    <li>
      <%= @event.finish_date.strftime('%B %d, %Y')%>
    </li>
  </ul>

<%=form_tag("/events/#{@event.id}/edit", method: "get") do |f| %>
<%=submit_tag "Edit"%>
<%end%>
<%=form_tag("/events/#{@event.id}", method: "delete") do |f| %>
  <%=submit_tag "Delete"%>
<%end%>