<h1><%=@employer.name%></h1>

  <ul>
    <li>
      <%= @employer.industry%>
    </li>
    <li>
      <%= @employer.size%>
    </li>
    <li>
      <%= @employer.products%>
    </li>
    <li>
      <%= @employer.description%>
    </li>
  </ul>

<%=form_tag("/employers/#{@employer.id}/edit", method: "get") do |f| %>
<%=submit_tag "Edit"%>
<%end%>