<h1><%=@employer.name%></h1>
<h4>About the company:</h4>
  <ul>
    <li>
      <%= @employer.industry%>
    </li>
    <li>
      <%= @employer.size%>
    </li>
    <li>
      <%= @employer.products%>
    </li>
    <li>
      <%= @employer.description%>
    </li>
  </ul>

<h4><%=@employer.name %> has an office in:</h4>
  <ul>
    <%@employer.cities.uniq.each do |city|%>
    <li>
      <%= link_to city.name, city_path(city) %>
    </li>
    <%end%>
  </ul>

<h4>These people have worked at <%=@employer.name %>:</h4>
  <ul>
    <%@employer.sorted_positions.each do |position|%>
    <li>
      <%= link_to position.person.name, person_path(position.person) %> from <%= position.start_date.year %> until <%= position.finish_date.year%>.
    </li>
    <%end%>
  </ul>

<h4>These people have worked at <%=@employer.name %> at the same time:</h4>
<table>
    <tr>
      <th>Employee 1</th><th>Employee 2</th><th>Employee 1 office</th><th>Employee 2 office</th><th>Overlap start date</th><th>Overlap finish date</th>
    </tr>
  <tbody>
    <%@employer.coworkers.each do |coworker|%>
    <tr>
      <td><%= coworker[0].person.name %></td><td><%=coworker[1].person.name%></td><td>CITY PLACEHOLDER</td><td>CITY PLACEHOLDER</td><td><%=coworker[4].strftime('%b %Y')%></td><td><%=coworker[5].strftime('%b %Y')%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<br><br>

<%=form_tag("/employers/#{@employer.id}/edit", method: "get") do |f| %>
<%=submit_tag "Edit"%>
<%end%>
<%=form_tag("/employers/#{@employer.id}", method: "delete") do |f| %>
  <%=submit_tag "Delete"%>
<%end%>