<%= form_with model: @city, class: "form-inline" do |f|%>
  <div>
  <%= f.label :name, class: "form-control" %>
  <%= f.text_field :name, class: "form-control" %><br><br>
  </div>
  <div>
  <%= f.label :region, class: "form-control" %>
  <%= f.text_field :region, class: "form-control" %><br><br>
  </div>
  <div>
  <%= f.label :country, class: "form-control" %>
  <%= f.text_field :country, class: "form-control" %><br><br>
  </div>
  <div>
  <%= f.submit %>
  </div>
<%end%>