<h1>Welcome to the Personal Timelines App</h1>

<h4>This app stores your personal employment and travel history along with those of other people you know.</h4>
<h4>You can explore the people, cities, and employers in your network and use the app to look for coincidences.</h4>
<h4>Where you've found yourself living and working in the same place as somebody else in the network, we'll show you.</h4>
<h4>Log in to start exploring!</h4>

<div class="container">
<br><br>
<%= form_for :user, url: '/sessions' do |f| %>

Username: <%= f.text_field :username, class: "form-control" %><br><br>
Password: <%= f.password_field :password, class: "form-control" %><br><br>
<%= f.submit "Login", class: "btn btn-primary" %>
<% end %>
<br><br>
<%=form_tag("/users/new", method: :get) %>
<%= submit_tag "Create New User", class: "btn btn-primary" %>
</div>