<h1><%=@city.name%></h1>
<ul>
    <li>
      <%= @city.name%>, <%=@city.region%>, <%=@city.country%>
    </li>
</ul>
<hr>

<hr>
<h5>This city has been host to these people as residents:</h5>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position held</th>
      <th scope="col">Employer</th>
      <th scope="col">From</th>
      <th scope="col">Until</th>
    </tr>
  </thead>
  <tbody>
  <% @city.positions.each do |position|%>
    <tr>
      <td><%= link_to position.person.name, person_path(position.person) %></td>
      <td><%= link_to position.title, position_path(position)%></td>
      <td><%= link_to position.employer.name, employer_path(position.employer) %></td>
      <td><%=position.start_date.strftime('%b %Y') %></td>
      <td><%=position.finish_date >= Date.today ? "Current" : position.finish_date.strftime('%b %Y')%></td>
    </tr>
  <%end%>
  </tbody>
</table>
<hr>

<%if @city.co_residents != []%>
<hr>
<h5>These residents lived in <%=@city.name%> at the same time:</h5>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Resident 1</th>
      <th scope="col">Resident 2</th>
      <th scope="col">Overlap Start</th>
      <th scope="col">Overlap Finish</th>
    </tr>
  </thead>
  <tbody>
  <% @city.co_residents.each do |co_resident_pair|%>
    <tr>
      <td><%=link_to co_resident_pair[0].person.name, person_path(co_resident_pair[0].person)%></td>
      <td><%=link_to co_resident_pair[1].person.name, person_path(co_resident_pair[1].person)%></td>
      <td><%=co_resident_pair[2].strftime('%b %Y')%></td>
      <td><%=co_resident_pair[3] >= Date.today ? "Current" : co_resident_pair[3].strftime('%b %Y')%></td>
    </tr>
  <%end%>
  </tbody>
</table>
<hr>
<%end%>

<%=form_tag("/cities/#{@city.id}/edit", method: "get") do |f| %>
<a class="indent"><button class="btn btn-primary" type="submit">Edit City</button></a>
<%end%>
<%=form_tag("/cities/#{@city.id}", method: "delete") do |f| %>
  <a><button class="btn btn-primary" type="submit">Delete City</button></a>
<%end%>
<hr>