<h1><%=@city.name%></h1>
<ul>
    <li>
      <%= @city.name%>, <%=@city.region%>, <%=@city.country%>
    </li>
</ul>

<h4>This city has been host to these people as residents:</h4>
<table>
    <tr>
      <th>Name</th><th>Position held</th><th>Employer</th><th>From</th><th>Until</th>
    </tr>
  <tbody>
  <% @city.positions.each do |position|%>
    <tr>
      <td class="left"><%= link_to position.person.name, person_path(position.person) %></td><td><%= position.title %></td><td><%= position.employer.name %></td><td><%= position.start_date.strftime('%b %Y') %></td><td><%=position.finish_date.strftime('%b %Y')%></td>
    </tr>
    <%end%>
  </tbody>
</table>

<h4>These residents lived in <%=@city.name%> at the same time:</h4>
<table>
    <tr>
      <th>Resident 1</th><th>Resident 2</th><th>Overlap start date</th><th>Overlap finish date</th>
    </tr>
  <tbody>
    <% @city.co_residents.each do |co_resident_pair|%>
    <tr>
      <td class="left"><%= co_resident_pair[0].person.name%></td><td><%=co_resident_pair[1].person.name%></td><td><%=co_resident_pair[2].strftime('%b %Y')%></td><td><%=co_resident_pair[3].strftime('%b %Y')%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<br><br>

<%=form_tag("/cities/#{@city.id}/edit", method: "get") do |f| %>
<%=submit_tag "Edit"%>
<%end%>
<%=form_tag("/cities/#{@city.id}", method: "delete") do |f| %>
  <%=submit_tag "Delete"%>
<%end%>